@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --sidebar: 16rem;
  --header: 3rem;
  --footer: 2rem;
  --main-height: calc(100vh - var(--header) - var(--footer))
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
    color: orange;
}

.header {
  background: darkslategrey;
  color: white;
  height: var(--header);
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.footer {
  background: black;
  color: white;
  height: var(--footer);
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


.reddit-main {
  display: flex;

  height: var(--main-height);
}
.sidebar {
  width: var(--sidebar);
  border: solid 1px gray;
}
.content {
  width: calc(100% - var(--sidebar));
  border: solid 1px gray;
}
