@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --sidebar: 16rem;
  --header: 3rem;
  --footer: 2rem;
  --main-height: calc(100vh - var(--header) - var(--footer));
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  /* transition: all 0.5s ease; */
}
a {
  text-decoration: none;
  color: orange;
}

.header {
  background: darkslategrey;
  color: white;
  height: var(--header);
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.footer {
  background: black;
  color: white;
  height: var(--footer);
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.reddit-main {
  display: flex;
  height: var(--main-height);
}
.sidebar {
  width: var(--sidebar);
  border-right: solid 1px gray;
  height: var(--main-height);
  background: black;
}
.sidebar__scroll {
  overflow: auto;
  max-height: 100%;
  height: var(--main-height);
}
.sidebar-item {
  padding: 0.2rem;
  color: white;
  height: 9rem;
  margin-bottom: 1rem;
  position: relative;
  outline: none;

}

.sidebar-item.slide-out {
  transition: var(--time) ease-out;
  transform: translate(0px, 0px);
  transform: translate(-500px, 0px);
  height: 0;
  margin: 0;
  padding: 0;
}

.sidebar-item:focus {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.1) 0%,
    rgba(148, 187, 233, 0.11) 100%
  );
}
.sidebar-item:after {
  display: block;
  content: "";
  height: 1px;
  border-top: solid 1px goldenrod;
  border-bottom: solid 1px goldenrod;
  width: 80%;
  position: absolute;
  bottom: -0.75rem;
  left: 10%;
  pointer-events: none;
}
.sidebar-item-header,
.sidebar-item-footer {
  display: flex;
  height: 1rem;
  align-items: center;
  color: gray;
  margin: 0.5rem;
}

.sidebar-item-footer__comments,
.sidebar-item-header__author,
.sidebar-item-header__time {
  font-size: 0.6rem;
  flex: 1;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0.2rem 0.5rem;
  word-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebar-item-header__viewed {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background: rgba(255, 120, 0, 0.2);
  transition: all 0.5s;
}
.sidebar-item-header__viewed.new {
  background: rgba(111, 214, 255, 1);
}
.sidebar-item-header__author {
  font-size: 0.8rem;
}
.sidebar-item-header__time {
  font-size: 0.6rem;
}

.sidebar-item-footer {
  height: 2rem;
}
.sidebar-item-footer__comments {
  font-size: 0.9rem;
}

.btn-dismiss {
  background: none;
  padding: 0;
}
.btn-dismiss div {
  background: none;
  height: 1.7rem;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color: orange;
}

.sidebar-item-content {
  height: calc(9rem - 3rem - 1.5rem);
  display: flex;
  padding: 0.5rem;
}
.sidebar-item-content__thumb {
  padding: 0.25rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-item-content__thumb img {
  max-width: 4rem;
  max-height: 4rem;
  transition: all 0.5s;
}
.sidebar-item-content__title {
  padding: 0.25rem 1rem 0.25rem 0.25rem;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-item-content__title h3 {
  margin: 0;
  padding: 0;
  line-height: 1rem;
  height: 2rem;
  font-size: 0.7rem;
  overflow: hidden;
}

.content {
  width: calc(100% - var(--sidebar));
  border: solid 1px gray;
}
